{#
/**
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
#}

{#
    Add a collapse card with a title and body to a page.
    The card can be expanded and collapsed with a icon into header.

    @param controller The controller object.
    @param parent The id name of the parent element.
    @param child The id name of the child element.
    @param title The title of the card.
    @param body The body of the card (collapsed).
#}
{% macro faqCard(controller, parent, child, title, body) %}
    <div class="card">
        <div class="card-header" id="{{ parent }}">
            <h3 class="title" data-bs-toggle="collapse" data-bs-target="#{{ child }}" aria-expanded="false" aria-controls="{{ child }}">
                <span>{{ title }}</span>
                <span class="icon"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
            </h3>
        </div>
        <div id="{{ child }}" class="collapse accordion-collapse" aria-labelledby="headingOne" data-bs-parent="#{{ parent }}">
            <div class="card-body">
                <p>{{ body }}</p>
            </div>
        </div>
    </div>
{% endmacro %}

{#
    Add a input field to a form.
    If the type is 'tel' then the pattern attribute is added.

    @param controller The controller object.
    @param type The type of the input field.
    @param name The name of the input field.
    @param label The label of the input field.
#}
{% macro formInput(controller, type, name, label, value, required) %}
    <div class="form-floating mb-3">
        <input id="{{ name }}" type="{{ type }}" class="form-control"
               {% if type == 'tel' %} pattern="(\+34|0034|34)?[ -]*(6|7|8|9)[ -]*([0-9][ -]*){8}" {% endif %}
               name="{{ name }}"
               placeholder="{{ label }}"
               value="{{ value }}"
               autocomplete="false"
               {% if required %} required{% endif %}>
        <label for="{{ name }}">{{ label }}</label>
    </div>
{% endmacro %}

{#
    Add the list of messages of one level to a page.

    @param controller The controller object.
    @param level The level of the messages.
    @param style The bootstrap style of the messages.
#}
{% macro message(controller, level, style, close) %}
    {% set messages = controller.message.getMessages(level) %}
    {% if messages | length > 0 %}
        <div class="alert alert-{{ style }} alert-dismissible fade show" role="alert">
            <button type="button" class="close btn-close" data-dismiss="alert" data-bs-dismiss="alert" aria-label="Close">
                {% if close %}<span aria-hidden="true">&times;</span>{% endif %}
            </button>
            {% for item in messages %}
                <div>{{ item | raw }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}


{#
    Add a banner with breadcrumb to a page.

    @param controller The controller object.
#}
{% macro pageBanner(controller) %}
    {% set pageData = controller.getPageData() %}
    <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm banner">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>{{ pageData['title'] }}</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                        <li class="breadcrumb-item">{{ pageData['breadcrumb'] }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endmacro %}

{#
    Add a header with title and optional text to a page.

    @param controller The controller object.
    @param title The title of the header.
    @param content The optional text of the header.
#}
{% macro pageHeader(controller, align, title, content) %}
    <div class="section-head text-{{ align }}">
        <h2 class="title">{{ title }}</h2>
        {% if content is not empty %}
            <p>{{ content }}</p>
        {% endif %}
    </div>
{% endmacro %}
