{#
/**
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% set currentView = controller.getCurrentView() %}
{% set formName = 'form' ~ currentView.getViewName() %}
<!--suppress ALL -->
{#
<script>
    var listViewDeleteCancel = "Cancelar";
    var listViewDeleteConfirm = "Confirmar";
    var listViewDeleteMessage = "Esto no se puede deshacer. ¿Está seguro que desea continuar?";
    var listViewDeleteTitle = "¿Confirma que desea realmente eliminar el registro?";
</script>
#}
<form id="{{ formName }}" method="post">
    <input type="hidden" name="action"/>
    <input type="hidden" name="activetab" value="{{ currentView.getViewName() }}"/>
    <input type="hidden" name="loadfilter" value="{{ currentView.pageFilterKey }}"/>
    <input type="hidden" name="multireqtoken" value="{{ controller.multiRequestProtection.newToken() }}"/>
    <input type="hidden" name="offset" value="{{ currentView.offset }}"/>
    <input type="hidden" name="order" value="{{ currentView.orderKey }}"/>
    <div>
        <div class="container-fluid">
            <div class="form-row">
                {# -- Left buttons -- #}
                <div class="col-md-auto mb-2">
                    {% if currentView.settings.btnNew %}
                        <a href="{{ asset(currentView.btnNewUrl()) }}" class="btn btn-success" title="Nuevo">
                            <i class="fas fa-plus fa-fw" aria-hidden="true"></i>
                            <span class="d-none d-xl-inline-block">Nuevo</span>
                        </a>
                    {% endif %}
                    {% if currentView.settings.btnDelete %}
                        <button type="button" class="btn btn-danger" title="Eliminar" onclick="listViewDelete('{{ currentView.getViewName() }}');">
                            <i class="fas fa-trash-alt fa-fw" aria-hidden="true"></i>
                            <span class="d-none d-xl-inline-block">Eliminar</span>
                        </button>
                    {% endif %}
                    {# -- Row actions -- #}
                    {{ currentView.getRow('actions').render(true, currentView.getViewName()) | raw }}
                </div>
                <div class="col-sm mb-2">
                    {# -- Search field -- #}
                    {{ _self.searchControl(currentView) }}
                </div>
                <div class="col-sm-auto text-right mb-2">
                    {# -- Filters button -- #}
                    {{ _self.filterButton(currentView, controller) }}
                    {# -- Colors button -- #}
                    {{ _self.colorsButton(currentView) }}
                    {# -- OrderBy button -- #}
                    {{ _self.sortButton(currentView) }}
                </div>
            </div>
            {# -- Filters -- #}
            {% set divFiltersStyle = currentView.showFilters ? '' : 'display: none;' %}
            <div id="form{{ currentView.getViewName() }}Filters" class="form-row align-items-center border-bottom mb-3" style="{{ divFiltersStyle }}">
                {% for filterName, filter in currentView.filters %}
                    {{ filter.render() | raw }}
                {% endfor %}
            </div>
            {# -- Row header -- #}
            <div class="row">
                {{ currentView.getRow('header').render(currentView.getViewName(), 'listViewSetAction', controller) | raw }}
            </div>
        </div>
        {# -- Pagination -- #}
        {% set pages = currentView.getPagination() %}
        {% if pages | length > 4 %}
            <div class="text-center pb-2">
                <div class="btn-group">
                    {% for page in currentView.getPagination() %}
                        {% set btnClass = page.active ? 'btn btn-outline-dark active' : 'btn btn-outline-dark' %}
                        <button type="button" class="{{ btnClass }}"
                                onclick="listViewSetOffset('{{ currentView.getViewName() }}', '{{ page.offset }}');">
                            {{ page.num }}
                        </button>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {# -- Table -- #}
        <div class="table-responsive">
            {% set tableClass = controller.toolBox().appSettings().get('default', 'tablesize') == 'small' ? 'table-sm' : '' %}
            <table class="table table-hover mb-0 {{ tableClass }}">
                <thead>
                <tr>
                    {% if (currentView.cursor | length > 0) and (currentView.settings.checkBoxes or currentView.settings.clickable) %}
                        <th class="text-center">
                            {% if currentView.settings.checkBoxes %}
                                <div class="form-check form-check-inline m-0 toggle-ext-link">
                                    <input class="form-check-input listActionCB" type="checkbox" onclick="listViewCheckboxes('{{ currentView.getViewName() }}');"/>
                                </div>
                            {% endif %}
                            {% if currentView.settings.clickable %}
                                <i class="fas fa-external-link-alt toggle-ext-link d-none" title="Abrir en una nueva pestaña"></i>
                            {% endif %}
                        </th>
                    {% endif %}
                    {% for column in currentView.getColumns() %}
                        {{ column.tableHeader() | raw }}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% set rowStatus = currentView.getRow('status') %}
                {% for model in currentView.cursor %}
                    {% set trClass = currentView.settings.clickable ? 'clickableListRow ' ~ rowStatus.trClass(model) : rowStatus.trClass(model) %}
                    {% set trTitle = rowStatus.trTitle(model) %}
                    <tr class="{{ trClass }}" title="{{ trTitle }}" data-href="{{ asset(model.url()) }}">
                        {% if currentView.settings.checkBoxes or currentView.settings.clickable %}
                            <td class="cancelClickable p-0 text-center align-middle">
                                {% if currentView.settings.checkBoxes %}
                                    <div class="form-check form-check-inline m-0 toggle-ext-link">
                                        <input class="form-check-input listAction" type="checkbox" name="code[]"
                                               value="{{ model.primaryColumnValue() }}"/>
                                    </div>
                                {% endif %}
                                {% if currentView.settings.clickable %}
                                    <a href="{{ asset(model.url()) }}" target="_blank" class="toggle-ext-link d-none"
                                       onauxclick="$(this).addClass('text-dark');" title="Abrir en una nueva pestaña">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% for column in currentView.getColumns() %}
                            {{ column.tableCell(model) | raw }}
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr class="table-warning">
                        <td colspan="{{ 1 + currentView.getColumns() | length }}">No hay datos</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {# -- Pagination -- #}
        {% if pages | length > 0 %}
            <div class="{{ currentView.settings.card ? 'card-footer text-center' : 'pt-3 text-center' }}">
                <div class="btn-group">
                    {% for page in currentView.getPagination() %}
                        {% set btnClass = page.active ? 'btn btn-outline-dark active' : 'btn btn-outline-dark' %}
                        <button type="button" class="{{ btnClass }}" onclick="listViewSetOffset('{{ currentView.getViewName() }}', '{{ page.offset }}');"> {{ page.num }} </button>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    <br/>
    {# -- Row footer -- #}
    <div class="container-fluid">
        <div class="row">
            {{ currentView.getRow('footer').render(currentView.getViewName(), 'listViewSetAction', controller) | raw }}
        </div>
    </div>
    {# -- Save Filter modal window -- #}
    {% if currentView.showFilters %}
        {{ _self.filterSaveModal(currentView) }}
    {% endif %}
</form>

{# -- Modals -- #}
{% for group in currentView.getModals() %}
    {{ group.modal(currentView.model, currentView.getViewName()) | raw }}
{% endfor %}

{# Macros #}
{% macro colorsButton(currentView) %}
    {% set legend = currentView.getRow('status').legend() %}
    {% if legend %}
        {% set viewName = currentView.getViewName() %}
        <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fill-drip fa-fw" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right pb-0">
                    <h6 class="dropdown-header">Colores</h6>
                    {{ legend | raw }}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro filterButton(currentView, controller) %}
    {% if currentView.filters is not empty %}
        {% set viewName = currentView.getViewName() %}
        {% if currentView.pageFilterKey %}
            {# -- Disable user filters -- #}
            <a href="{{ controller.url() }}?activetab={{ viewName }}" class="btn btn-light" title="Todos">
                <i class="fas fa-filter fa-fw"></i> Todos
            </a>
        {% else %}
            <button type="button" class="btn btn-light" onclick="listViewShowFilters('{{ viewName }}');">
                <i class="fas fa-filter fa-fw"></i> Filtros
            </button>
            {% if currentView.showFilters %}
                {# -- Save user filters -- #}
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#savefilter{{ viewName }}" title="Guardar Filtro">
                    <i class="fas fa-save fa-fw"></i> Guardar
                </button>
            {% endif %}
        {% endif %}
        {% set saveFilters = currentView.pageFilters %}
        {% if saveFilters is not empty %}
            {% for pageFilter in saveFilters %}
                {% set icon = (pageFilter.nick is empty) ? 'fa-users' : 'fa-user' %}
                {% set filterDesc = pageFilter.description|length > 10 ? pageFilter.description|slice(0,10) ~ '...' : pageFilter.description %}
                {% if pageFilter.id == currentView.pageFilterKey %}
                    <div class="btn-group">
                        {# -- Selected user filter -- #}
                        <button title="{{ pageFilter.description }}" class="btn btn-light active" onclick="listViewSetLoadFilter('{{ viewName }}', '{{ pageFilter.id }}');">
                            <i class="fas fa-filter fa-fw"></i> {{ filterDesc }}
                        </button>
                        {# -- Delete user filter -- #}
                        <button type="button" class="btn btn-light text-danger" title="Eliminar Filtro" onclick="listViewSetAction('{{ viewName }}', 'delete-filter');">
                            <i class="fas fa-trash-alt fa-fw"></i>
                        </button>
                    </div>
                {% else %}
                    {# -- Select user filters -- #}
                    <button title="{{ pageFilter.description }}" class="btn btn-light" onclick="listViewSetLoadFilter('{{ viewName }}', '{{ pageFilter.id }}');">
                        <i class="fas fa-filter fa-fw"></i> {{ filterDesc }}
                    </button>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro filterSaveModal(currentView) %}
    {% set viewName = currentView.getViewName() %}
    <div class="modal" id="savefilter{{ viewName }}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fas fa-filter fa-fw"></i> Guardar
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Descripción</label>
                                <input type="text" name="filter-description" class="form-control noEnterKey" autofocus=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="listViewSetAction('{{ viewName }}', 'save-filter');">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro searchControl(currentView) %}
    {% if currentView.searchFields is not empty %}
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" type="text" name="query" value="{{ currentView.query }}" autocomplete="off" placeholder="Buscar ..."/>
                <span class="input-group-append">
                    <button type="submit" class="btn btn-secondary">
                        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro sortButton(currentView) %}
    {% if currentView.orderOptions is not empty %}
        <div class="btn-group">
            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
                {% set icon = (currentView.orderOptions[currentView.orderKey]['type'] == 'ASC') ? 'fas fa-sort-amount-down-alt' : 'fas fa-sort-amount-down' %}
                <i class="{{ icon }} fa-fw" aria-hidden="true"></i>
                <span class="d-none d-lg-inline">{{ currentView.orderOptions[currentView.orderKey]['label'] }}</span>
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                {% for key, orderby in currentView.orderOptions %}
                    {% set activeClass = (currentView.orderKey == key) ? ' active' : '' %}
                    {% set icon = (orderby.type == 'ASC') ? 'fas fa-sort-amount-down-alt' : 'fas fa-sort-amount-down' %}
                    <a class="dropdown-item{{ activeClass }}" href="#"
                       onclick="listViewSetOrder('{{ currentView.getViewName() }}', '{{ key }}');">
                        <i class="{{ icon }} fa-fw" aria-hidden="true"></i> {{ orderby.label }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}