{% extends "Master/FrontTemplate.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="author" content="BiblioApp" />
    <meta name="robots" content="" />
    <meta name="description" content="Sobre la biblioteca de alquiler de libros"/>
    <meta name="keywords" content="historia, proyecto, biblioteca, alquiler, libros" />
    <meta property="og:title" content="Sobre nuestro proyecto"/>
    <meta property="og:description" content="Sobre nuestra historia"/>
    <meta property="og:image" content="/Assets/Images/biblio-card.png"/>

    <title>Nuestro proyecto. Comparte conocimiento</title>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/vendor/swiper/swiper-bundle.min.css">
    <style>
        .banner { background-image: url(/Assets/Images/background/about.jpg); }
    </style>
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {% from 'Macro/Utils.html.twig' import pageBanner %}

    <!--banner-->
    {{ pageBanner(controller) }}

    <!--Our Mission Section-->
    <section class="content-inner overlay-white-middle">
        <div class="container">
            <div class="row about-style1 align-items-center">
                <div class="col-lg-6">
                    <div class="row sp10 about-thumb">
                        <div class="col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                            <div class="split-box">
                                <div>
                                    <img class="border-1 border-secondary" src="/Assets/Images/about1.jpg" alt="Lectura Biblia">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="split-box ">
                                <div>
                                    <img class="border-1 border-secondary" src="/Assets/Images/about2.png" alt="Jesus Loves You" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                                </div>
                            </div>
                            <div class="exp-bx aos-item"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                                <div class="exp-head">
                                    <div class="counter-num">
                                        <h2>15<small>+</small></h2>
                                    </div>
                                    <h6 class="title">Años de Experiencia</h6>
                                </div>
                                <div class="exp-info">
                                    <ul class="list-check primary">
                                        <li>Biblias</li>
                                        <li>Devocionales</li>
                                        <li>Estudios Bíblicos</li>
                                        <li>Ministerio y liderazgo</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 m-b50 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                    <div class="about-content px-lg-4">
                        <div class="section-head style-1">
                            <h2 class="title">BiblioApp. El Proyecto</h2>
                            <p>
                                BiblioApp es un proyecto que nace inicialmente de personas con grandes librerías cristiana
                                personales que desean compartir conocimiento y sabiduría con otras personas en problemas económicos.
                                La idea es crear una biblioteca de libros cristianos que puedan ser compartidos entre los usuarios de la aplicación.
                                De esta manera fomentar la lectura, especialmente en jóvenes, sin que el coste de los libros sea un impedimento.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--icon-box3 section-->
    <section class="content-inner bg-light">
        <div class="container">
            <div class="section-head text-center">
                <h2 class="title">Nuestra Misión</h2>
                <p>
                    En BiblioApp, nuestra misión es fomentar el crecimiento del conocimiento y fe cristiana a través de
                    la literatura, proporcionando un espacio a la reutilización de libros.
                    En el corazón de BiblioApp yace la misión de construir una biblioteca de sabiduría espiritual,
                    esforzándonos por proporcionar un lugar donde los lectores puedan explorar, descubrir y compartir
                    literatura cristiana que no solo entretenga, sino también ilumine y fortalezca su fe.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="icon-bx-wraper style-3 m-b30">
                        <div class="icon-lg m-b20">
                            <i class="flaticon-open-book-1 icon-cell"></i>
                        </div>
                        <div class="icon-content">
                            <h4 class="title">Leer para Fortalecer</h4>
                            <p>Acceso a una amplia variedad de libros cristianos que inspiran, fortalecen y profundizan tu conexión espiritual.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="icon-bx-wraper style-3 m-b30">
                        <div class="icon-lg m-b20">
                            <i class="flaticon-group icon-cell"></i>
                        </div>
                        <div class="icon-content">
                            <h4 class="title">Compartir para Ayudar</h4>
                            <p>Tus libros leídos ayudan a aquellos que no tienen acceso. Creamos una red solidaria, expandiendo la lectura y fortaleciendo los lazos de comunidad.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="icon-bx-wraper style-3 m-b30">
                        <div class="icon-lg m-b20">
                            <i class="flaticon-compass-circular-tool icon-cell"></i>
                        </div>
                        <div class="icon-content">
                            <h4 class="title">Sembrar para Crecer</h4>
                            <p>
                                Haz de la sabiduría el camino para tu propio crecimiento. Siembra sabiduría, cultiva espiritualidad y cosecha crecimiento.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
