{% extends "Master/FrontTemplate.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="author" content="BiblioApp" />
    <meta name="robots" content="" />
    <meta name="description" content="Contactar con nosotros"/>
    <meta name="keywords" content="contactar, biblioteca, alquiler, libros" />
    <meta property="og:title" content="Contactar con nosotros"/>
    <meta property="og:description" content="Contactar con nosotros"/>
    <meta property="og:image" content="{{ asset('Assets/Images/biblio-card.png') }}"/>

    <title>Contactar con nosotros</title>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        .banner { background-image: url(/Assets/Images/background/contactar.jpg); }
        #notes { height: 150px; }
        #recaptcha { display:none; }
    </style>
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {% from 'Macro/Forms.html.twig' import formInput, formRGPD %}
    {% from 'Macro/Utils.html.twig' import pageBanner, message %}

    {% set formData = controller.formData %}

    <!--banner-->
    {{ pageBanner(controller) }}

    <!-- form contact -->
    <section class="content-inner border-bottom bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 m-b40">
                    <!--message-->
                    <div class="row m-r20 m-md-r0">
                        <div class="col-12">
                            {{ message(controller, 'info', 'success', false) }}
                            {{ message(controller, 'warning', 'warning', false) }}
                            {{ message(controller, 'error', 'danger', false) }}
                        </div>
                    </div>
                    <!-- form data -->
                    <div class="contact-area1 m-r10 m-md-r0">
                        <div class="section-head style-1">
                            <h5 class="sub-title text-primary">Contactar</h5>
                            <h3 class="title m-b20">Completar el formulario</h3>
                        </div>

                        <form id="formContact" action="{{ asset('Contact') }}" class="form-floating" method="post">
                            <input name="action" type="hidden" class="form-control" value="contact">
                            {{ formInput(controller, 'text', 'name', 'Nombre completo', formData.name, true) }}
                            <div class="row g-2">
                                <div class="col-md-8">
                                    {{ formInput(controller, 'email', 'email', 'Correo electrónico', formData.email, true) }}
                                </div>
                                <div class="col-md-4">
                                    {{ formInput(controller, 'tel', 'phone', 'Teléfono', formData.phone, true) }}
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <textarea id="notes" class="form-control" placeholder="Mensaje" name="notes" required>{{ formData.notes }}</textarea>
                                <label for="notes">Mensaje</label>
                            </div>

                            <div class="form-check mb-3">
                                <input id="rgpd" type="checkbox" class="form-check-input" name="rgpd" value="" required>
                                <label class="form-check-label" for="rgpd">
                                    He leído y acepto la <a href="PrivacyPolicy" target="_blank">Política de Privacidad</a>.
                                </label>
                            </div>

                            {{ formRGPD(controller, 'recaptcha_contact') }}
                            <button name="submit" type="submit" value="submit" class="btn w-100 btn-primary btnhover">A C E P T A R</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
