{% extends "Master/FrontTemplate.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="author" content="BiblioApp" />
    <meta name="robots" content="" />
    <meta name="description" content="Política de Cookies"/>
    <meta name="keywords" content="contactar, biblioteca, alquiler, libros" />
    <meta property="og:title" content="Política de Cookies"/>
    <meta property="og:description" content="Cumplimiento de las obligaciones legales"/>
    <meta property="og:image" content="{{ asset('Assets/Images/biblio-card.png') }}"/>

    <title>Política de Cookies</title>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        .banner { background-image: url(/Assets/Images/background/legal.jpg); }
        dl { display: grid; grid-template-columns: max-content auto; }
        dt { grid-column-start: 1; }
        dd { grid-column-start: 2; }
    </style>
{% endblock %}

{% block preloader %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {% from 'Macro/Utils.html.twig' import pageBanner %}

    <!--banner-->
    {{ pageBanner(controller) }}

    <!-- legal notice -->
    <section class="content-inner border-bottom bg-grey">
        <div class="container">
            <p>
                En cumplimiento con el artículo 22 de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la
                información y de comercio electrónico (LSSI), en relación con el Reglamento (UE) 2016/679 del Parlamento
                Europeo y del Consejo, de 27 de abril de 2016, General de Protección de Datos (RGPD) y la Ley Orgánica
                3/2018, de 5 de diciembre, de Protección de Datos y garantía de los derechos digitales (LOPDGDD), el
                Titular pone a disposición de los usuarios la Política de recogida y tratamiento de cookies del sitio Web.
            </p>
        </div>
    </section>

    <section class="content-inner border-bottom">
        <div class="container">
            <h2 class="title">Qué son las Cookies</h2>
            <p>
                Una Cookie es un fichero que se descarga en su ordenador al entrar a determinadas páginas
                web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar
                información sobre sus hábitos de navegación y dependiendo de la información que contengan
                y de la forma en que utilice su equipo pueden utilizarse para identificarle.
            </p>

            <h2 class="title">Cookies utilizadas en el sitio Web</h2>
            <p>
                A continuación se clasifican las cookies utilizadas por el sitio Web biblioapp.es.
                Según la entidad que las gestiona:
                <ul>
                    <li>Cookies propias: Son aquellas enviadas y gestionadas directamente por el Titular.</li>
                </ul>

                Según su finalidad:
                <ul>
                    <li>
                        Cookies técnicas: Son aquellas que permiten a los usuarios registrados navegar a través del
                        sitio Web, del área restringida y a utilizar sus diferentes funciones, como por ejemplo, el
                        sistema de comentarios o el buscador.
                    </li>
                    <li>
                        Cookies de personalización: Son aquellas que permiten a los usuarios acceder al Servicio con
                        algunas características de carácter general predefinidas en función de una serie de criterios
                        establecidos por el Usuario como, por ejemplo, el idioma o el tipo de navegador a través del
                        cual se conecta a este sitio Web.
                    </li>
                </ul>

                Según su duración:
                <ul>
                    <li>Cookies de sesión: Son aquellas diseñadas para recabar y almacenar datos mientras el Usuario accede al sitio Web.</li>
                    <li>
                        Cookies persistentes: Son aquellas en las que los datos siguen almacenados en el terminal del
                        Usuario y pueden ser accedidos y tratados durante un período definido por el responsable
                        de la cookie.
                    </li>
                </ul>
            </p>

            <h2 class="title">Listado de cookies utilizadas</h2>
            <p>
                Este sitio Web puede instalar las siguientes cookies necesarias para el funcionamiento del sitio:
                <ul>
                    <li>biblioUserName: Cookie técnica que se usa para mantener la configuración del Usuario. Es persistente y tiene una duración de 1 año.</li>
                    <li>biblioLogkey: Cookie técnica que almacena la cadena de autorización. Es persistente y tiene una duración de 1 año.</li>
                    <li>hasConsent: Cookie técnica que almacena el consentimiento del Usuario. Es persistente y tiene una duración de 1 año.</li>
                </ul>

                La Entidad utiliza en este sitio web las siguientes cookies que se detallan a continuación:
                <ul>
                    <li>Cookie Google: __ga</li>
                    <li>Cookie Google: __gid</li>
                    <li>Cookie Google: __gat</li>
                </ul>
            </p>

            <h2 class="title">Tipos de Cookies utilizadas</h2>
            <p>
                Esta web utiliza tanto ‘cookies’ temporales de sesión como ‘cookies’ permanentes.
                Las ‘cookies’ de sesión almacenan datos únicamente mientras el usuario accede a la web, y las
                ‘cookies’ permanentes almacenan los datos en el terminal para que sean accedidos y utilizados
                en más de una sesión. Se suelen emplear para almacenar información que sólo interesa conservar
                para la prestación del servicio solicitado por el usuario en una sola ocasión.
                Según la finalidad para la que se traten los datos obtenidos a través de las ‘cookies’,
                el web puede utilizar:
                <dl>
                    <dt>Cookies técnicas:</dt>
                        <dd>
                            Son aquellas que permiten al usuario la navegación a través de una página web, plataforma o
                            aplicación y la utilización de las diferentes opciones o servicios que en ella existan como,
                            por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder
                            a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el
                            proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un
                            evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la
                            difusión de videos o sonido o compartir contenidos a través de redes sociales.
                        </dd>
                    <dt>Cookies de personalización:</dt>
                        <dd>
                            Son aquellas que permiten al usuario acceder al servicio con algunas características de
                            carácter general predefinidas en función de una serie de criterios en el terminal del
                            usuario como por ejemplo serían el idioma, el tipo de navegador a través del cual accede
                            al servicio, la configuración regional desde donde accede al servicio, la geolocalización
                            del terminal y la configuración regional desde donde se accede al servicio.
                        </dd>
                    <dt>Cookies publicitarias:</dt>
                        <dd>
                            Son aquellas que permiten la gestión, de la forma más eficaz posible, de los espacios
                            publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o
                            plataforma desde la que presta el servicio solicitado con base a criterios como el contenido
                            editado o la frecuencia en la que se muestran los anuncios.
                        </dd>
                    <dt>Cookies de análisis estadísticos:&nbsp;</dt>
                        <dd>
                            Son aquellas que permiten realizar el seguimiento y análisis del comportamiento de los
                            usuarios en los sitios web. La información recogida mediante este tipo de ‘cookies’ se
                            utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para la
                            elaboración de perfiles de navegación de los usuarios de dichos sitios, con el fin de
                            introducir mejoras en el servicio en función de los datos de uso que hacen los usuarios.
                        </dd>
                    <dt>Cookies de terceros:</dt>
                        <dd>
                            Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio que no
                            es gestionado por el editor, sino por otra entidad que trata los datos obtenidos a través
                            de las cookies. En algunas páginas web se pueden instalar ‘cookies’ de terceros que permiten
                            gestionar y mejorar los servicios ofrecidos. Por ejemplo, servicios estadísticos de
                            Google Analytics y Comscore.
                        </dd>
                </dl>
            </p>

            <h2 class="title">Aceptación o rechazo de la instalación de cookies</h2>
            <p>
                El Titular muestra información sobre su Política de cookies en el banner de cookies accesible en todas las páginas del Sitio Web. El banner de cookies muestra
                información esencial sobre el tratamiento de datos y permite al Usuario realizar las siguientes acciones:
                <ul>
                    <li>Aceptar o rechazar la instalación de cookies, o retirar el consentimiento previamente otorgado.</li>
                    <li>Cambiar las preferencias de cookies desde la página Personalizar Cookies, a la que puede acceder desde el Aviso de Cookies o desde la página de Personalizar Cookies.</li>
                    <li>Obtener información adicional en la página de Política de Cookies.</li>
                </ul>
            </p>

            <h2 class="title">Eliminación de cookies</h2>
            <p>
                Puede aceptar, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las
                opciones del navegador, pero tenga en cuenta que parte del sitio no funcionará correctamente o que
                algunas de sus funcionalidades no estarán disponibles o tendrán errores.
                En los siguientes enlaces encontrará instrucciones para habilitar o deshabilitar las cookies en los
                navegadores más comunes.
                <ul>
                    <li><a target="_blank" href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">Firefox</a></li>
                    <li><a target="_blank" href="https://support.google.com/chrome/answer/95647?hl=es">Google Chrome</a></li>
                    <li><a target="_blank" href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies#ie=&quot;ie-10">Internet Explorer</a></li>
                    <li><a target="_blank" href="https://support.microsoft.com/es-es/help/4468242/microsoft-edge-browsing-data-and-privacy">Microsoft Edge</a></li>
                    <li><a target="_blank" href="http://support.apple.com/kb/HT1677?viewlocale=es_ES">Safari</a></li>
                </ul>
            </p>

            <h2 class="title">Tratamiento de Datos Personales</h2>
            <p>
                El Titular es el Responsable del tratamiento de los datos personales del usuario. Puede consultar toda la información relativa
                al tratamiento de datos personales que recoge el Titular en la página de la
                <a href="PrivacyPolicy">Política de Privacidad</a>.
            </p>

            <h2 class="title">Contacto</h2>
            <p>En caso de que tenga cualquier duda acerca de esta Política de Cookies o quiera realizar cualquier comentario sobre este sitio Web, puede enviar un mensaje a la dirección de correo electrónico: lopd@erpdeveloper.es</p>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
