{% extends "Master/FrontTemplate.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="author" content="BiblioApp" />
    <meta name="robots" content="" />
    <meta name="description" content="Biblioteca para alquiler de libros"/>
    <meta name="keywords" content="biblioteca, alquiler, libros" />
    <meta property="og:title" content="Biblioteca para alquiler de libros"/>
    <meta property="og:description" content="Biblioteca para alquiler de libros"/>
    <meta property="og:image" content="Assets/Images/biblio-card.png"/>

    <title>Biblioteca para alquiler de libros</title>
{% endblock %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block preloader %}
    <div id="loading-area" class="preloader-wrapper-1">
        <div class="preloader-inner">
            <div class="preloader-shade"></div>
            <div class="preloader-wrap"></div>
            <div class="preloader-wrap wrap2"></div>
            <div class="preloader-wrap wrap3"></div>
        </div>
    </div>
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {% from 'Macro/Utils.html.twig' import pageHeader %}
    {% set bookList = controller.getBookList() %}
    {% set bookCount = controller.bookCount %}

    <!--Recommend Section -->
    <section class="content-inner bg-grey">
        <div class="container">
            {{ pageHeader(
                    controller,
                    'center',
                    'Nuestras Recomendaciones',
                    'Te presentamos nuestra selección de libros recomendados. Cada obra ha sido elegida para ofrecerte una experiencia que te ayudará en tu crecimiento personal. Nuestra selección de libros te invita a descubrir el poder transformador de la palabra y a profundizar en el mensaje de Jesús.'
                )
            }}
            <div class="row book-grid-row">
                {% for book in controller.getRecommendBooks() %}
                    {{ _self.renderBook(controller, book) }}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- icon-box1 -->
    <section class="content-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="icon-bx-wraper style-1 m-b30 text-center">
                        <div class="icon-bx-sm m-b10">
                            <i class="fas fa-users icon-cell"></i>
                        </div>
                        <div class="icon-content">
                            <h5 class="dz-title m-b10">Hazte Socio</h5>
                            <p>Disfruta de ventajas de ser socio con solo registrarte.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon-bx-wraper style-1 m-b30 text-center">
                        <div class="icon-bx-sm m-b10">
                            <i class="fa-solid fa-book-open-reader icon-cell"></i>
                        </div>
                        <div class="icon-content">
                            <h5 class="dz-title m-b10">Conocimiento</h5>
                            <p>Accede a leer de manera sencilla y económica. Por un euro al mes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="icon-bx-wraper style-1 m-b30 text-center">
                        <div class="icon-bx-sm m-b10">
                            <i class="fa-solid fa-layer-group icon-cell"></i>
                        </div>
                        <div class="icon-content">
                            <h5 class="dz-title m-b10">Variedad</h5>
                            <p>Elige entre las categorías los libros con la temática que más te gusta.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon-bx-wraper style-1 m-b30 text-center">
                        <div class="icon-bx-sm m-b10">
                            <i class="fa-solid fa-calendar-plus icon-cell"></i>
                        </div>
                        <div class="icon-content">
                            <h5 class="dz-title m-b10">Ampliación</h5>
                            <p>Por un euro adicional puedes ampliar por un mes adicional.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Book List (Grid) -->
    <section class="content-inner border-bottom bg-grey">
        <div class="container">
            {{ pageHeader(
                    controller,
                    'center',
                    'Libros',
                    'Esta es la lista de libros. '
                      ~ 'Puedes indicar que categorías te interesan y ordenar por novedad o autor.<br>'
                      ~ 'Cada libro tiene una ficha con la información detallada.'
                )
            }}
            <div class="filter-area m-b30">
                <div class="category">
                    <div class="filter-category">
                        <a data-bs-toggle="collapse" href="#categoryFilter" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-list me-2"></i>
                            Categorías
                        </a>
                    </div>
                </div>
                <div class="category">
                    <form id="filterOrderBy" method="post">
                        <input name="action" type="hidden" class="form-control" value="filter-orderby">
                        <div class="form-group">
                            <i class="fas fa-sort-amount-down me-2 text-secondary"></i>
                            <select class="default-select" name="orderby" onchange="this.form.submit()">
                                {% for orderby in controller.getOrderByList() %}
                                <option {% if controller.filterOrderBy == orderby %} selected{% endif %}>{{ orderby }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="acod-content collapse " id="categoryFilter">
                <div class="widget widget_services">
                    {{ _self.renderCategoryFilter(controller) }}
                </div>
            </div>
            <div class="row book-grid-row">
                {% for book in bookList %}
                    {{ _self.renderBook(controller, book) }}
                {% endfor %}
            </div>
            {% if bookCount > controller.limit %}
                {% set pages = controller.getPagination() %}
                {% set firstBook = controller.offset + 1 %}
                {% set lastBook = min(controller.offset + controller.limit, bookCount) %}
                <div class="row page mt-0">
                    <div class="col-md-6">
                        <h6>Mostrando de {{ firstBook }} al {{ lastBook }} de un total de {{ bookCount }} libros</h6>
                    </div>
                    <div class="col-md-6">
                        <nav aria-label="Blog Pagination">
                            <ul class="pagination style-1 p-t20">
                                {% for page in pages %}
                                    {% set active = page.active ? 'active' : '' %}
                                    {% set url = loop.first ? 'index.php' : 'index.php?offset=' ~ page.offset %}
                                    <li class="page-item"><a class="page-link {{ active }}" href="{{ url }}">{{ page.num }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% macro renderBook(controller, book) %}
    {% from 'Macro/Book.html.twig' import ranking %}

    <div class="col-book style-1">
        <div class="dz-shop-card style-1">
            <img class="home-book-image" src="{{ controller.getUrlBookImage(book) }}" alt="book">
            <div class="dz-content">
                <h5 class="home-book-title title"><a href="BookDetail?code={{ book.id }}">{{ book.name }}</a></h5>
                {{ book.author }}
                {{ ranking(controller, book) }}
                <a href="BookDetail?code={{ book.id }}" class="btn btn-secondary box-btn btnhover2 mt-2">Saber más</a>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro renderCategoryFilter(controller) %}
    <form id="filterCategory" method="post">
        <input name="action" type="hidden" class="form-control" value="filter-category">
        {% for category in controller.getCategories() %}
            {% set checkID = 'categoryCheck_' ~ category.id %}
            {% set selected = category.id in controller.filterCategory ? ' checked' : '' %}
            <div class="form-check form-check-inline home-form-check-inline">
                <input class="form-check-input" type="checkbox" name="category[]" value="{{ category.id }}" id="{{ checkID }}" {{ selected }}>
                <label class="form-check-label" for="{{ checkID }}">{{ category.name }}</label>
            </div>
        {% endfor %}
        <hr>
        <button name="submit" type="submit" value="submit" class="btn w-100 btn-primary btnhover">Filtrar</button>
    </form>
{% endmacro %}
