{% extends "Master/FrontTemplate.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="author" content="BiblioApp" />
    <meta name="robots" content="noindex"/>
    <meta name="description" content="Login para bibliotecarios"/>
    <meta name="keywords" content="biblioteca, alquiler, libros" />
    <meta property="og:title" content="Portal de bibliotecarios"/>
    <meta property="og:description" content="Permite realizar el acceso a bibliotecarios"/>
    <meta property="og:image" content="Assets/Images/biblio-card.png"/>

    <title>Portal de bibliotecarios</title>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        .banner { background-image: url(/Assets/Images/background/contactar.jpg); }
        #recaptcha { display:none; }
    </style>
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    {% from 'Macro/Utils.html.twig' import pageBanner, formInput %}

    <!--banner-->
    {{ pageBanner(controller) }}

    <div class="content-inner border-bottom bg-grey">
        <div class="row justify-content-center">
            <div class="col-sm-9 col-sm-8 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="login-area">
                    <div class="tab-content nav">
                        <form id="formLogin" action="{{ asset('LoginUser') }}" class="form-floating tab-pane active col-12" method="POST">
                            <h4 class="text-secondary">IDENTIFICARSE</h4>
                            <p class="font-weight-600">Si tiene una cuenta con nosotros, inicie sesión.</p>
                            <input name="action" type="hidden" value="login">
                            {{ formInput(controller, 'text', 'biblioUserName', 'Usuario', '', true) }}
                            {{ formInput(controller, 'password', 'biblioPassword', 'Contraseña', '', true) }}
                            <div class="mb-3">
                                <div class="g-recaptcha" data-sitekey="<!-- Put reCaptcha Site Key -->" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                                <!-- <input class="form-control d-none" name="recaptcha" data-recaptcha="true" required data-error="Por favor completa el Captcha"> -->
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary btnhover me-2">Iniciar sesión</button>
                                <a data-bs-toggle="tab" href="#formPassword" class="m-l5"><i class="fas fa-unlock-alt"></i> Olvidé la contraseña</a>
                            </div>
                        </form>
                        <form id="formPassword" action="{{ asset('LoginUser') }}" class="form-floating tab-pane fade col-12" method="post">
                            <h4 class="text-secondary">RECUPERAR CONTRASEÑA</h4>
                            <input name="action" type="hidden" value="change-password">
                            {{ formInput(controller, 'password', 'admin_passwd', 'Contraseña Administrador', '', true) }}
                            {{ formInput(controller, 'text', 'username', 'Usuario', '', true) }}
                            {{ formInput(controller, 'password', 'new_passwd', 'Nueva Contraseña', '', true) }}
                            {{ formInput(controller, 'password', 'confirm_passwd', 'Confirmar Contraseña', '', true) }}
                            <div class="mb-3">
                                <div class="g-recaptcha" data-sitekey="<!-- Put reCaptcha Site Key -->" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                                <!-- <input class="form-control d-none" name="recaptcha" data-recaptcha="true" required data-error="Por favor completa el Captcha"> -->
                            </div>
                            <div class="text-left">
                                <a class="btn btn-outline-secondary btnhover m-r10" data-bs-toggle="tab" href="#formLogin">Volver</a>
                                <button type="submit" class="btn btn-primary btnhover">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
