{% extends "Master/FrontTemplate.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="author" content="BiblioApp" />
    <meta name="robots" content="" />
    <meta name="description" content="Biblioteca para alquiler de libros"/>
    <meta name="keywords" content="biblioteca, alquiler, libros" />
    <meta property="og:title" content="Biblioteca para alquiler de libros"/>
    <meta property="og:description" content="Biblioteca para alquiler de libros"/>
    <meta property="og:image" content="Assets/Images/biblio-card.png"/>

    <title>Portal de usuarios</title>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        body { background-color: #333A40; }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <form action="{{ asset('') }}" method="post" class="form">
                    <div class="card mt-4">
                        <a href="{{ asset('') }}">
                            <img class="card-img-top" src="{{ asset('Assets/Images/logo-horizontal.png') }}" alt="BiblioApp"/>
                        </a>
                        <div class="card-body">
                            <p class="card-text text-center">Escriba su nombre de usuario y contraseña para iniciar sesión</p>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user fa-fw" aria-hidden="true"></i>
                                        </span>
                                    </span>
                                    <input type="text" name="biblioUserName" class="form-control" maxlength="50"
                                           placeholder="Usuario" required="" autocomplete="off" autofocus=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-key fa-fw" aria-hidden="true"></i>
                                        </span>
                                    </span>
                                    <input type="password" name="biblioPassword" class="form-control" maxlength="50"
                                           placeholder="Contraseña" required="" autocomplete="off"/>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary mb-4">
                                Iniciar sesión
                            </button>
                            <a href="{{ asset('') }}" class="btn btn-block btn-link" data-toggle="modal"
                               data-target="#newPasswordModal">
                                He olvidado mi contraseña
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <p>
                                BiblioApp es un software libre para gestión de un catálogo de libros.
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <form action="{{ asset('') }}" method="post" class="form">
        <div class="modal fade" id="newPasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <i class="fas fa-user-lock mr-2"></i> Nueva contraseña
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-user fa-fw" aria-hidden="true"></i>
                                    </span>
                                </span>
                                <input type="text" name="setNewUserPasswd" class="form-control" maxlength="50"
                                       placeholder="Usuario" required="" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-key fa-fw" aria-hidden="true"></i>
                                    </span>
                                </span>
                                <input type="password" name="setNewPasswd" class="form-control" maxlength="50"
                                       placeholder="Nueva contraseña" required="" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-eye fa-fw" aria-hidden="true"></i>
                                    </span>
                                </span>
                                <input type="password" name="setNewPasswd2" class="form-control" maxlength="50"
                                       placeholder="Repite la contraseña" required="" autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
