{% extends "Master/FrontTemplate.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="author" content="BiblioApp" />
    <meta name="robots" content="" />
    <meta name="description" content="Política de privacidad"/>
    <meta name="keywords" content="contactar, biblioteca, alquiler, libros" />
    <meta property="og:title" content="Política de privacidad"/>
    <meta property="og:description" content="Cumplimiento de las obligaciones legales"/>
    <meta property="og:image" content="{{ asset('Assets/Images/biblio-card.png') }}"/>

    <title>Política de privacidad</title>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        .banner { background-image: url(/Assets/Images/background/legal.jpg); }
        dl { display: grid; grid-template-columns: max-content auto; }
        dt { grid-column-start: 1; }
        dd { grid-column-start: 2; }
    </style>
{% endblock %}

{% block preloader %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {% from 'Macro/Utils.html.twig' import pageBanner %}

    <!--banner-->
    {{ pageBanner(controller) }}

    <!-- legal notice -->
    <section class="content-inner border-bottom bg-grey">
        <div class="container">
            <p>
                El Titular le informa sobre su Política de Privacidad respecto del tratamiento y protección de los datos de carácter personal de los usuarios que puedan ser recabados durante la navegación a través del Sitio Web: https://biblioapp.es
                En este sentido, el Titular garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y de Garantía de Derechos Digitales (LOPD GDD). Cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD).
                El uso de sitio Web implica la aceptación de esta Política de Privacidad así como las condiciones incluidas en el
                <a href="LegalNotice">Aviso Legal</a>.
            </p>
        </div>
    </section>

    <section class="content-inner border-bottom">
        <div class="container">
            <h2 class="title">Identidad del Responsable</h2>
            <p>
                En cumplimiento de lo previsto por el artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, se proporciona la siguiente información sobre la titular de esta Web:
                <dl>
                    <dt>Titular:&nbsp;</dt><dd>ERP Developer</dd>
                    <dt>NIF:&nbsp;</dt><dd>43082162B</dd>
                    <dt>Domicilio:&nbsp;</dt><dd>Antonio García Campos, 8, Alicante - España</dd>
                    <dt>Correo electrónico:&nbsp;</dt><dd>lopd@erpdeveloper.es</dd>
                    <dt>Sitio Web:&nbsp;</dt><dd>erpdeveloper.es</dd>
                </dl>
            </p>

            <h2 class="title">Principios aplicados en el tratamiento de datos</h2>
            <p>
                En el tratamiento de sus datos personales, el Titular aplicará los siguientes principios que se ajustan a las exigencias del nuevo reglamento europeo de protección de datos (RGPD):
                <ul>
                    <li>Principio de licitud, lealtad y transparencia: El Titular siempre requerirá el consentimiento para el tratamiento de los datos personales que puede ser para uno o varios fines específicos sobre los que el Titular informará al Usuario previamente con absoluta transparencia.</li>
                    <li>Principio de minimización de datos: El Titular solicitará solo los datos estrictamente necesarios para el fin o los fines que los solicita.</li>
                    <li>
                        Principio de limitación del plazo de conservación: El Titular mantendrá los datos personales recabados durante el tiempo estrictamente necesario para el fin o los fines del tratamiento. El Titular informará al Usuario del plazo de conservación correspondiente según la finalidad.
                        En el caso de suscripciones, el Titular revisará periódicamente las listas y eliminará aquellos registros inactivos durante un tiempo considerable.
                    </li>
                    <li>
                        Principio de integridad y confidencialidad: Los datos personales recabados serán tratados de tal manera que su seguridad, confidencialidad e integridad esté garantizada.
                        El Titular toma las precauciones necesarias para evitar el acceso no autorizado o uso indebido de los datos de sus usuarios por parte de terceros.
                    </li>
                </ul>
            </p>

            <h2 class="title">Obtención de datos personales</h2>
            <p>Para navegar por el sitio Web no es necesario que facilite ningún dato personal.</p>

            <h2 class="title">Derechos</h2>
            <p>
                El Titular le informa que sobre sus datos personales tiene derecho a:
                <ul>
                    <li>Solicitar el acceso a los datos almacenados.</li>
                    <li>Solicitar una rectificación o la cancelación.</li>
                    <li>Solicitar la limitación de su tratamiento.</li>
                    <li>Oponerse al tratamiento.</li>
                </ul>
            </p>
            <p>
                No puede ejercitar el derecho a la portabilidad de los datos.
                El ejercicio de estos derechos es personal y, por tanto, debe ser ejercido directamente por el interesado, solicitándolo directamente al Titular, lo que significa que cualquier cliente, suscriptor o colaborador que haya facilitado sus datos en algún momento, puede dirigirse al Titular y pedir información sobre los datos que tiene almacenados y cómo los ha obtenido, solicitar la rectificación de los mismos, oponerse al tratamiento, limitar su uso o solicitar la cancelación de esos datos en los ficheros del Titular.
                Para ejercitar sus derechos tiene que enviar su petición junto con una fotocopia del Documento Nacional de Identidad o equivalente a  la dirección de correo electrónico: lopd@erpdeveloper.es
                El ejercicio de estos derechos no incluye ningún dato que el Titular esté obligado a conservar con fines administrativos, legales o de seguridad.
                Tiene derecho a la tutela judicial efectiva y a presentar una reclamación ante la autoridad de control, en este caso, la Agencia Española de Protección de Datos, si considera que el tratamiento de datos personales que le conciernen infringe el Reglamento.
            </p>

            <h2 class="title">Finalidad del tratamiento de datos personales</h2>
            <p>
                Cuando usted se conecta al Sitio Web para mandar un correo al Titular, se suscribe a su boletín está facilitando información de carácter personal de la que el responsable es el Titular. Esta información puede incluir datos de carácter personal como pueden ser su dirección IP, nombre y apellidos, dirección física, dirección de correo electrónico, número de teléfono, y otra información. Al facilitar esta información, da su consentimiento para que su información sea recopilada, utilizada, gestionada y almacenada por — OVH — sólo como se describe en las páginas:
                <ul>
                    <li><a href="LegalNotice">Aviso Legal</a></li>
                    <li><a href="PrivacyPolicy">Política de Privacidad</a></li>
                </ul>
            </p>
            <p>
                Los datos personales y la finalidad del tratamiento por parte del Titular es diferente según el sistema de captura de información:
                Existen otras finalidades por las que el Titular trata datos personales:
                <ul>
                    <li>Para garantizar el cumplimiento de las condiciones recogidas en la página de Aviso Legal y de la ley aplicable. Esto puede incluir el desarrollo de herramientas y algoritmos que ayuden al Sitio Web a garantizar la confidencialidad de los datos personales que recoge.</li>
                    <li>Para apoyar y mejorar los servicios que ofrece este Sitio Web.</li>
                    <li>Para analizar la navegación de los usuarios. El Titular recoge otros datos no identificativos que se obtienen mediante el uso de cookies que se descargan en el ordenador del Usuario cuando navega por el Sitio Web cuyas características y finalidad están detalladas en la página de <a href="CookiesPolicy">Política de Cookies</a>.</li>
                </ul>
            </p>

            <h2 class="title">Seguridad de los datos personales</h2>
            <p>
                Para proteger sus datos personales, el Titular toma todas las precauciones razonables y sigue las mejores prácticas de la industria para evitar su pérdida, mal uso, acceso indebido, divulgación, alteración o destrucción de los mismos.
                El sitio Web está alojado en: OVH. La seguridad de los datos está garantizada, ya que toman todas las medidas de seguridad necesarias para ello. Puede consultar su política de privacidad para tener más información.
                El Titular informa al Usuario de que sus datos personales no serán cedidos a terceras organizaciones, con la salvedad de que dicha cesión de datos esté amparada en una obligación legal o cuando la prestación de un servicio implique la necesidad de una relación contractual con un encargado de tratamiento. En este último caso, solo se llevará a cabo la cesión de datos al tercero cuando el Titular disponga del consentimiento expreso del Usuario.
                Sin embargo, en algunos casos se pueden realizar colaboraciones con otros profesionales, en esos casos, se requerirá consentimiento al Usuario informando sobre la identidad del colaborador y la finalidad de la colaboración. Siempre se realizará con los más estrictos estándares de seguridad.
            </p>

            <h2 class="title">Contenido de otros sitios web</h2>
            <p>
                Las páginas de este sitio Web pueden incluir contenido incrustado (por ejemplo, vídeos, imágenes, artículos, etc.). El contenido incrustado de otras web se comporta exactamente de la misma manera que si hubiera visitado la otra web.
                Estos sitios Web pueden recopilar datos sobre usted, utilizar cookies, incrustar un código de seguimiento adicional de terceros, y supervisar su interacción usando este código.
            </p>

            <h2 class="title">Política de Cookies</h2>
            <p>
                Para que este sitio Web funcione correctamente necesita utilizar cookies, que es una información que se almacena en su navegador web.
                Puede consultar toda la información relativa a la política de recogida y tratamiento de las cookies en la página de <a href="CookiesPolicy">Política de Cookies</a>.
            </p>

            <h2 class="title">Legitimación para el tratamiento de datos</h2>
            <p>
                La base legal para el tratamiento de sus datos es el consentimiento del interesado.
            </p>

            <h2 class="title">Categorías de datos personales</h2>
            <p>
                Las categorías de datos personales que trata el Titular son:
                <ul>
                    <li>Datos identificativos.</li>
                    <li>No se tratan categorías de datos especialmente protegidos.</li>
                </ul>
            </p>

            <h2 class="title">Conservación de datos personales</h2>
            <p>Los datos personales proporcionados al Titular se conservarán hasta que solicite su supresión.</p>

            <h2 class="title">Navegación Web</h2>
            <p>
                Al navegar por el Sitio Web se pueden recoger datos no identificativos, que pueden incluir, la dirección IP, geolocalización, un registro de cómo se utilizan los servicios y sitios, hábitos de navegación y otros datos que no pueden ser utilizados para identificarle.
                El sitio Web utiliza los siguientes servicios de análisis de terceros:
                El Titular utiliza la información obtenida para obtener datos estadísticos, analizar tendencias, administrar el sitio, estudiar patrones de navegación y para recopilar información demográfica.
                El Titular no se hace responsable del tratamiento de los datos personales que realicen las páginas web a las que pueda acceder a través de los distintos enlaces que contiene el Sitio Web.
            </p>

            <h2 class="title">Exactitud y veracidad de los datos personales</h2>
            <p>
                Usted se compromete a que los datos facilitados al Titular sean correctos, completos, exactos y vigentes, así como a mantenerlos debidamente actualizados.
                Como Usuario del Sitio Web es el único responsable de la veracidad y corrección de los datos remitidos al Sitio Web exonerando al Titular de cualquier responsabilidad al respecto.
            </p>

            <h2 class="title">Aceptación y consentimiento</h2>
            <p>
                Como Usuario del Sitio Web declara haber sido informado de las condiciones sobre protección de datos de carácter personal, acepta y consiente el tratamiento de los mismos por parte del Titular en la forma y para las finalidades indicadas en esta Política de Privacidad.
                Para contactar con el Titular, suscribirse a un boletín o realizar comentarios en este sitio Web tiene que aceptar la presente Política de Privacidad.
            </p>

            <h2 class="title">Cambios en la Política de Privacidad</h2>
            <p>
                El Titular se reserva el derecho a modificar la presente Política de Privacidad para adaptarla a novedades legislativas o jurisprudenciales, así como a prácticas de la industria.
                Estas políticas estarán vigentes hasta que sean modificadas por otras debidamente publicadas.
            </p>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
